[KEYS]
# give your bot KEY here.
BOT_API_KEY= writeKeyHere!

[OWNER]
# following two are required for the owner to clear the debts -
# otherwise, no clearing possible.
Telegram_ID=123456789
Telegram_handle=@blablabla

[SETTINGS]
# The currency code.
currency_code=£
# handle invalid commands - set to True or False
invalid_handler=True
